<!DOCTYPE html>
<html style="font-family: Georgia, serif">
  <head>
    <title>Poller</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="p-4 border-b border-gray-300">
      <div class="max-w-7xl mx-auto flex items-center justify-between">
        <h1 class="text-4xl px-4 text-gray-800 font-bold">Poller</h1>
        <div>
          <a
            href="/dashboard"
            class="text-gray-800 text-2xl px-4 hover:underline ml-4"
            >Dashboard</a
          >
          <a
            href="/mypolls"
            class="text-gray-800 text-2xl px-4 hover:underline ml-4"
            >View Polls</a
          >
          <a
            href="/logout"
            class="text-gray-800 text-2xl px-4 hover:underline ml-4"
            >Logout</a
          >
        </div>
      </div>
    </header>
    <main class="flex-grow p-4">
      <div class="max-w-7xl mx-auto">
        <form
          action="/createpoll"
          method="POST"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        >
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="question"
            >
              Poll Question
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="question"
              name="question"
              type="text"
              placeholder="Enter your poll question"
            />
          </div>
          <div class="flex items-center justify-center">
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Create Poll
            </button>
          </div>
        </form>
      </div>
    </main>
    <footer class="text-gray-800 p-4 border-t border-gray-300 text-center">
      <p class="text-gray-800">
        Source code available at
        <a
          href="https://github.com/RowJCo/poller"
          class="text-blue-400 hover:underline"
          >GitHub</a
        >
      </p>
    </footer>
  </body>
</html>
